{% load static %}

      <!-- Hero banner with hotspots -->
      <section class="container pt-2 pt-lg-3">
        <div class="position-relative rounded-5 overflow-hidden py-5">
          <div class="row align-items-center position-relative z-2">
            <div class="col-md-5 col-lg-4 offset-lg-1 text-center text-md-start mb-4 mb-md-0">
              <div class="pt-5 pt-md-0 px-4 px-sm-5 pe-md-0 ps-md-5 ps-lg-0">
                <p class="fs-xl mb-lg-4">
                    کفشی که برای یک استایل شیک لازم داری
                </p>
                <h2 class="display-5 text-uppercase mb-4 mb-lg-5">
                    جشنواره یلدای ۱۴۰۴
                </h2>
                <a class="btn btn-lg btn-dark" href="{% url 'products' %}">
                  فروشگاه
                  <i class="ci-arrow-up-right fs-lg ms-2 me-n1"></i>
                </a>
              </div>
            </div>
            <div class="col-md-7 mt-md-n5">
              <div class="d-flex justify-content-center justify-content-md-end">
                <div class="position-relative w-100 rtl-flip" style="max-width: 636px">
                    <img src="{% static 'img/home/banner/01.png' %}" alt="Image">
                </div>
              </div>
            </div>
          </div>
          <span class="position-absolute top-0 start-0 w-100 h-100 d-none-dark rtl-flip" style="background: linear-gradient(102deg, #dad4ec 0%, #f3e7e9 80.43%)"></span>
          <span class="position-absolute top-0 start-0 w-100 h-100 d-none d-block-dark rtl-flip" style="background: linear-gradient(102deg, #2a2735 0%, #312a2b 80.43%)"></span>
        </div>
      </section>
