{% extends "base.html" %}

{% load static %}
{% load persian_numbers %}

{% block title %}
    Details about {{ shoe.name }}
{% endblock %}

{% block content %}

    <!-- Page content -->
    <main class="content-wrapper">

        <!-- Breadcrumb -->
        <nav class="container pt-3 my-3 my-md-4" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">کفش نمایش</a></li>
                <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
            </ol>
        </nav>

        <!-- Items in the cart + Order summary -->
        <section class="container pb-5 mb-2 mb-md-3 mb-lg-4 mb-xl-5">
            <h1 class="h3 mb-4">
                سبد خرید شما
            </h1>
            <div class="row">

                {% if cart_items %}

                    <!-- Items list -->
                    <div class="col-lg-8">
                        <div class="pe-lg-2 pe-xl-3 me-xl-3">
{#                            <p class="fs-sm">Buy <span class="text-dark-emphasis fw-semibold">$183</span> more to get#}
{#                                <span class="text-dark-emphasis fw-semibold">Free Shipping</span></p>#}
{#                            <div class="progress w-100 overflow-visible mb-4" role="progressbar"#}
{#                                 aria-label="Free shipping progress" aria-valuenow="75" aria-valuemin="0"#}
{#                                 aria-valuemax="100" style="height: 4px">#}
{#                                <div class="progress-bar bg-warning rounded-pill position-relative overflow-visible"#}
{#                                     style="width: 75%; height: 4px">#}
{#                                    <div class="position-absolute top-50 end-0 d-flex align-items-center justify-content-center translate-middle-y bg-body border border-warning rounded-circle me-n1"#}
{#                                         style="width: 1.5rem; height: 1.5rem">#}
{#                                        <i class="ci-star-filled text-warning"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}

                            <!-- Table of items -->
                            <table class="table position-relative z-2 mb-4">
                                <thead>
                                <tr>
                                    <th scope="col" class="fs-sm fw-normal py-3 ps-0">
                                        <span class="text-body">نام کالا</span>
                                    </th>
                                    <th scope="col" class="text-body fs-sm fw-normal py-3 d-none d-xl-table-cell">
                                        <span class="text-body">قیمت</span>
                                    </th>
                                    <th scope="col" class="text-body fs-sm fw-normal py-3 d-none d-md-table-cell">
                                        <span class="text-body">تعداد</span>
                                    </th>
                                    <th scope="col" class="text-body fs-sm fw-normal py-3 d-none d-md-table-cell">
                                        <span class="text-body">جمع قیمت</span>
                                    </th>
                                    <th scope="col" class="py-0 px-0">
                                        <div class="nav justify-content-end">
                                            <button type="button"
                                                    class="nav-link d-inline-block text-decoration-underline text-nowrap py-3 px-0">
                                                حذف همه
                                            </button>
                                        </div>
                                    </th>
                                </tr>
                                </thead>
                                <tbody class="align-middle">
                                {% for item in cart_items %}
                                    <!-- Item -->
                                    <tr>
                                        <td class="py-3 ps-0">
                                            <div class="d-flex align-items-center">
                                                <a class="flex-shrink-0" href="shop-product-general-electronics.html">
                                                    <img src="{{ item.shoe.images.all.0.image.url }}" width="110"
                                                         alt="{{ item.shoe.name }}">
                                                </a>
                                                <div class="w-100 min-w-0 ps-2 ps-xl-3">
                                                    <h5 class="d-flex animate-underline mb-2">
                                                        <a class="d-block fs-sm fw-medium text-truncate animate-target"
                                                           href="shop-product-general-electronics.html">
                                                            {{ item.shoe.name }}
                                                        </a>
                                                    </h5>
                                                    <ul class="list-unstyled gap-1 fs-xs mb-0">
                                                        <li>
                                                            <span class="text-body-secondary">
                                                                نوع:
                                                            </span>
                                                            <span class="text-dark-emphasis fw-medium">
                                                                {{ item.shoe.get_type_display }}
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span class="text-body-secondary">
                                                                دسته:
                                                            </span>
                                                            <span class="text-dark-emphasis fw-medium">
                                                                {{ item.shoe.get_category_display }}
                                                            </span>
                                                        </li>
                                                        <li class="d-xl-none">
                                                            <span class="text-body-secondary">Price:</span>
                                                            <span class="text-dark-emphasis fw-medium">
                                                                {{ item.shoe.price }}
                                                            </span>
                                                        </li>
                                                    </ul>
                                                    <div class="count-input rounded-2 d-md-none mt-3">
                                                        <button type="button" class="btn btn-sm btn-icon"
                                                                data-decrement="" aria-label="Decrement quantity">
                                                            <i class="ci-minus"></i>
                                                        </button>
                                                        <input type="number" class="form-control form-control-sm"
                                                               value="{{ item.quantity }}" readonly="">
                                                        <button type="button" class="btn btn-sm btn-icon"
                                                                data-increment="" aria-label="Increment quantity">
                                                            <i class="ci-plus"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="h6 py-3 d-none d-xl-table-cell">
                                            {{ item.shoe.price | persian_numbers }}
                                            <img class="toman" src="{% static 'svg/toman.svg' %}"/>

                                        </td>
                                        <td class="py-3 d-none d-md-table-cell">
                                            <div class="count-input">
                                                <button type="button" class="btn btn-icon" data-decrement=""
                                                        aria-label="Decrement quantity">
                                                    <i class="ci-minus"></i>
                                                </button>
                                                <input type="number" class="form-control" value="1" readonly="">
                                                <button type="button" class="btn btn-icon" data-increment=""
                                                        aria-label="Increment quantity">
                                                    <i class="ci-plus"></i>
                                                </button>
                                            </div>
                                        </td>
                                        <td class="h6 py-3 d-none d-md-table-cell">
                                            {{ item.get_total_price | persian_numbers }}
                                            <img class="toman" src="{% static 'svg/toman.svg' %}"/>
                                        </td>
                                        <td class="text-end py-3 px-0">
                                            <a href="{% url 'remove_from_cart' item.shoe.id %}">
                                                <i class="ci-trash"></i>
                                            </a>
{#                                            <button type="button" class="btn-close fs-sm" data-bs-toggle="tooltip"#}
{#                                                    data-bs-custom-class="tooltip-sm" data-bs-title="Remove"#}
{#                                                    aria-label="Remove from cart"></button>#}
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>

                            <div class="nav position-relative z-2 mb-4 mb-lg-0">
                                <a class="nav-link animate-underline px-0" href="{% url 'products' %}">
                                    <i class="ci-chevron-left fs-lg me-1"></i>
                                    <span class="animate-target">
                                        ادامه خرید
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>


                    <!-- Order summary (sticky sidebar) -->
                    <aside class="col-lg-4" style="margin-top: -100px">
                        <div class="position-sticky top-0" style="padding-top: 100px">
                            <div class="bg-body-tertiary rounded-5 p-4 mb-3">
                                <div class="p-sm-2 p-lg-0 p-xl-2">
{#                                    <h5 class="border-bottom pb-4 mb-4">Order summary</h5>#}
{#                                    <ul class="list-unstyled fs-sm gap-3 mb-0">#}
{#                                        <li class="d-flex justify-content-between">#}
{#                                            Subtotal (3 items):#}
{#                                            <span class="text-dark-emphasis fw-medium">#}
{#                                                $2,427.00#}
{#                                            </span>#}
{#                                        </li>#}
{#                                        <li class="d-flex justify-content-between">#}
{#                                            سود شما از خرید:#}
{#                                            <span class="text-danger fw-medium">-$110.00</span>#}
{#                                        </li>#}
{#                                    </ul>#}
                                    <div class="border-top pt-4 mt-4">
                                        <div class="d-flex justify-content-between mb-3">
                                            <span class="fs-sm">
                                                جمع سبد خرید:
                                            </span>
                                            <span class="h5 mb-0">
                          {{ cart_total  | persian_numbers }}
                                                <img class="toman" src="{% static 'svg/toman.svg' %}"/>
                      </span>
                                        </div>
                                        <a class="btn btn-lg btn-primary w-100" href="{% url 'checkout' %}">
                                            تایید و تکمیل سفارش
                                            <i class="ci-chevron-right fs-lg ms-1 me-n1"></i>
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion bg-body-tertiary rounded-5 p-4">
                                <div class="accordion-item border-0">
                                    <h3 class="accordion-header" id="promoCodeHeading">
                                        <button type="button"
                                                class="accordion-button animate-underline collapsed py-0 ps-sm-2 ps-lg-0 ps-xl-2"
                                                data-bs-toggle="collapse" data-bs-target="#promoCode"
                                                aria-expanded="false" aria-controls="promoCode">
                                            <i class="ci-percent fs-xl me-2"></i>
                                            <span class="animate-target me-2">
                                                اعمال کد تخفیف
                                            </span>
                                        </button>
                                    </h3>
                                    <div class="accordion-collapse collapse" id="promoCode"
                                         aria-labelledby="promoCodeHeading">
                                        <div class="accordion-body pt-3 pb-2 ps-sm-2 px-lg-0 px-xl-2">
                                            <form class="needs-validation d-flex gap-2" novalidate="">
                                                <div class="position-relative w-100">
                                                    <input type="text" class="form-control"
                                                           placeholder="کد تخفیف معتبر را اینجا وارد کنید" required="">
                                                    <div class="invalid-tooltip bg-transparent py-0">
                                                        کد وارد شده معتبر نیست
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-dark">
                                                    اعمال
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>

                {% else %}
                    <p>
                        سبد خرید شما خالی است<!doctype html>
                        <html lang="en">
                        <head>
                            <meta charset="UTF-8">
                            <meta name="viewport"
                                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
                            <meta http-equiv="X-UA-Compatible" content="ie=edge">
                            <title>Document</title>
                        </head>
                        <body>
                        
                        </body>
                        </html>
                    </p>
                    {#    <a href="{% url 'shoe_list' %}">Go to Shoes</a>#}
                {% endif %}

            </div>
        </section>

    </main>

{% endblock %}