<!-- Page footer -->
<footer class="footer bg-dark pb-4 py-lg-4" data-bs-theme="dark">
    <div class="container pt-5 pt-lg-4 mt-sm-2 mt-md-3">
        <div class="row pb-5">

            <!-- Subscription + Social account links -->
            <div class="col-md col-xl-8 order-md-2">
                <div class="text-center px-sm-4 mx-auto" style="max-width: 568px">
                    <h3 class="mb-2">
                        با ما در تماس باشید
                    </h3>

                    {% include "footer_socials.html" %}

                    <p class="fs-sm text-body pb-2 pb-sm-3">
                        مشهد، خیابان شیرازی، شیرازی ۵، برج آراد، طبقه ۱-، واحد ۴۶
                    </p>
    <a referrerpolicy='origin' target='_blank' href='https://trustseal.enamad.ir/?id=248822&Code=nYIlSmvCZOlvigjgKQkD'>
                    <img referrerpolicy='origin' src='https://trustseal.enamad.ir/logo.aspx?id=248822&Code=nYIlSmvCZOlvigjgKQkD' alt='' style='cursor:pointer' id='nYIlSmvCZOlvigjgKQkD'>
    </a>
                    <img id="sScdOJOzhFxtcEqkjP7P" referrerpolicy="origin" class="w-full inline-block" src="https://Trustseal.eNamad.ir/logo.aspx?id=19077&amp;Code=sScdOJOzhFxtcEqkjP7P" width="75" height="75" alt="نماد اعتماد الکترونیک" title="" style="object-fit: contain;">
                </div>
            </div>

            <!-- Category links -->
            <div class="col-md-auto col-xl-2 text-center order-md-1 pt-4 pt-md-0">
                <ul class="nav d-inline-flex flex-md-column justify-content-center align-items-center gap-md-2">
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="/categoty/men">
                            کفش زنانه
                        </a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="/categoty/men">
                            کفش مردانه
                        </a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">
                            کفش بچگانه
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Customer links -->
            <div class="col-md-auto col-xl-2 text-center order-md-3 pt-3 pt-md-0">
                <ul class="nav d-inline-flex flex-md-column justify-content-center align-items-center gap-md-2">
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="/about">
                            درباره ما
                        </a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="/contact">
                            تماس با ما
                        </a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">
                            همکاری با ما
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <p class="fs-xs text-body text-center pt-lg-4 mt-n2 mt-md-0 mb-0">
            برنامه نویس:
            <a href="https://sajjadaemmi.ir" class="animate-target text-white text-decoration-none">
                سجاد ائمی
            </a>
            |
            ساخته شده با
            <i class="ci-heart"></i>
            |
            کپی‌رایت
            {% now "Y" %}
            ©
        </p>
    </div>
</footer>