<!-- Page footer -->
<footer class="footer bg-dark pb-4 py-lg-5" data-bs-theme="dark">
    <div class="container pt-5 pt-lg-4 mt-sm-2 mt-md-3">
        <div class="row pb-5">

            <!-- Subscription + Social account links -->
            <div class="col-md col-xl-8 order-md-2">
                <div class="text-center px-sm-4 mx-auto" style="max-width: 568px">
                    <h3 class="pb-1 mb-2">Stay in touch with us</h3>
                    <p class="fs-sm text-body pb-2 pb-sm-3">Receive the latest updates about our products &amp;
                        promotions</p>
                    <form class="needs-validation position-relative" novalidate="">
                        <input type="email" class="form-control form-control-lg rounded-pill text-start"
                               placeholder="You email" aria-label="Your email address" required="">
                        <div class="invalid-tooltip bg-transparent p-0">Please enter you email address!</div>
                        <button type="submit"
                                class="btn btn-icon fs-xl btn-dark rounded-circle position-absolute top-0 end-0 mt-1 me-1"
                                aria-label="Submit your email address" data-bs-theme="light">
                            <i class="ci-arrow-up-right"></i>
                        </button>
                    </form>
                    <div class="d-flex justify-content-center gap-2 pt-4 pt-md-5 mt-1 mt-md-0">
                        <a class="btn btn-icon fs-base btn-outline-secondary border-0" href="#!"
                           data-bs-toggle="tooltip"
                           data-bs-template="<div class=&quot;tooltip fs-xs mb-n2&quot; role=&quot;tooltip&quot;><div class=&quot;tooltip-inner bg-transparent text-white p-0&quot;></div></div>"
                           title="YouTube" aria-label="Follow us on YouTube">
                            <i class="ci-youtube"></i>
                        </a>
                        <a class="btn btn-icon fs-base btn-outline-secondary border-0" href="#!"
                           data-bs-toggle="tooltip"
                           data-bs-template="<div class=&quot;tooltip fs-xs mb-n2&quot; role=&quot;tooltip&quot;><div class=&quot;tooltip-inner bg-transparent text-white p-0&quot;></div></div>"
                           title="Facebook" aria-label="Follow us on Facebook">
                            <i class="ci-facebook"></i>
                        </a>
                        <a class="btn btn-icon fs-base btn-outline-secondary border-0" href="#!"
                           data-bs-toggle="tooltip"
                           data-bs-template="<div class=&quot;tooltip fs-xs mb-n2&quot; role=&quot;tooltip&quot;><div class=&quot;tooltip-inner bg-transparent text-white p-0&quot;></div></div>"
                           title="Instagram" aria-label="Follow us on Instagram">
                            <i class="ci-instagram"></i>
                        </a>
                        <a class="btn btn-icon fs-base btn-outline-secondary border-0" href="#!"
                           data-bs-toggle="tooltip"
                           data-bs-template="<div class=&quot;tooltip fs-xs mb-n2&quot; role=&quot;tooltip&quot;><div class=&quot;tooltip-inner bg-transparent text-white p-0&quot;></div></div>"
                           title="Telegram" aria-label="Follow us on Telegram">
                            <i class="ci-telegram"></i>
                        </a>
                        <a class="btn btn-icon fs-base btn-outline-secondary border-0" href="#!"
                           data-bs-toggle="tooltip"
                           data-bs-template="<div class=&quot;tooltip fs-xs mb-n2&quot; role=&quot;tooltip&quot;><div class=&quot;tooltip-inner bg-transparent text-white p-0&quot;></div></div>"
                           title="Pinterest" aria-label="Follow us on Pinterest">
                            <i class="ci-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Category links -->
            <div class="col-md-auto col-xl-2 text-center order-md-1 pt-4 pt-md-0">
                <ul class="nav d-inline-flex flex-md-column justify-content-center align-items-center gap-md-2">
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Bedroom</a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Living room</a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Bathroom</a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Decoration</a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Kitchen</a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Sale</a>
                    </li>
                </ul>
            </div>

            <!-- Customer links -->
            <div class="col-md-auto col-xl-2 text-center order-md-3 pt-3 pt-md-0">
                <ul class="nav d-inline-flex flex-md-column justify-content-center align-items-center gap-md-2">
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Shipping
                            options</a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Tracking a
                            package</a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Help center</a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Contact us</a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Product returns</a>
                    </li>
                    <li class="animate-underline my-1 mx-2 m-md-0">
                        <a class="nav-link d-inline-flex fw-normal p-0 animate-target" href="#!">Locations</a>
                    </li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <p class="fs-xs text-body text-center pt-lg-4 mt-n2 mt-md-0 mb-0">
            برنامه نویس:
            <a href="https://sajjadaemmi.ir" class="animate-target text-white text-decoration-none">
                سجاد ائمی
            </a>
            |
            ساخته شده با
            <i class="ci-heart"></i>
            |
            کپی‌رایت
            {% now "Y" %}
            ©
        </p>
    </div>
</footer>