{% extends "base.html" %}

{% load static %}
{% load persian_numbers %}

{% block title %}
    کفش نمایش
{% endblock %}

{% block content %}

    <!-- Page content -->
    <main class="content-wrapper">

        {#        {% include "slider.html" %}#}
        {% include "banner.html" %}
        {% include "categories.html" %}

        <!-- Featured products -->
        <section class="container pt-5 pb-5 mt-2 mt-sm-3 mt-lg-4 mt-xl-5">
            <h2 class="text-center pb-2 pb-sm-3">
                محبوب‌ ترین کفش‌ها
            </h2>

            <!-- Products grid -->
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 gy-4 gy-md-5">

                {% for shoe in shoes %}
                    <!-- Item -->
                    <div class="col mb-2 mb-sm-3 mb-md-0">
                        {% include "product_card.html" %}
                    </div>
                {% endfor %}
            </div>
        </section>

        <!-- Features -->
        <section class="container pt-5 pb-5 mb-sm-2 mb-md-3 mb-lg-4 mb-xl-5">
            <div class="row row-cols-1 row-cols-md-3 gy-3 gy-sm-4 gx-2 gx-lg-4 mb-xxl-3">
                <div class="col text-center">
                    <i class="ci-heart fs-lg"></i>
                    <h3 class="h5">فروش سازمانی</h3>
                    <p class="fs-sm px-5 mb-md-0">
                        عقد قرارداد با اداره‌ها، هتل‌ها، مراکز درمانی و کارخانه‌ها
                    </p>
                </div>
                <div class="col text-center">
                    <i class="ci-heart fs-lg"></i>
                    <h3 class="h5">
                        کیفیت بی نظیر
                    </h3>
                    <p class="fs-sm px-5 mb-md-0">
                        ما مواد اولیه را از بهترین تولید کنندگان انتخاب می کنیم، بنابراین کفش‌های ما با
                        بهترین کیفیت و بهترین قیمت ارائه می شود.
                    </p>
                </div>
                <div class="col text-center">
                    <i class="ci-heart fs-lg"></i>
                    <h3 class="h5">
                        تحویل درب منزل شما
                    </h3>
                    <p class="fs-sm px-5 mb-md-0">
                        ما در هر نقطه از مشهد درب منزل شما تحویل خواهیم داد. اگر 100% راضی نیستید، ظرف 30 روز به ما
                        اطلاع دهید و ما مشکل را حل خواهیم کرد.
                    </p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}