{% load static %}

<!-- Navigation bar (Page header) -->
<header class="navbar-sticky sticky-top container z-fixed px-2" data-sticky-element="">
    <div class="navbar navbar-expand-lg flex-nowrap bg-body rounded-pill shadow ps-0 mx-1">
        <div class="position-absolute top-0 start-0 w-100 h-100 bg-dark rounded-pill z-0 d-none d-block-dark"></div>

        <!-- Mobile offcanvas menu toggler (Hamburger) -->
        <button type="button" class="navbar-toggler ms-3" data-bs-toggle="offcanvas" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar brand (Logo) -->
        <a class="navbar-brand position-relative z-1 ms-4 ms-sm-5 ms-lg-4 me-2 me-sm-0 me-lg-3" href="/">
            <span class="d-none d-sm-flex flex-shrink-0 text-primary me-2">
                <img style="height: 36px" src="{% static 'svg/namayesh_logo_v3.svg' %}"/>
              </span>
            کفش نمایش
        </a>

        <!-- Main navigation that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
        <nav class="offcanvas offcanvas-start" id="navbarNav" tabindex="-1" aria-labelledby="navbarNavLabel">
            <div class="offcanvas-header py-3">
                <h5 class="offcanvas-title" id="navbarNavLabel">Browse Cartzilla</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body pt-3 pb-4 py-lg-0 mx-lg-auto">
                <ul class="navbar-nav position-relative">
                    <li class="nav-item dropdown me-lg-n1 me-xl-0">
                        <a class="nav-link fs-sm active" aria-current="page" href="/">
                            خانه
                        </a>
                    </li>
                    <li class="nav-item dropdown position-static me-lg-n1 me-xl-0">
                        <a class="nav-link dropdown-toggle fs-sm" href="/products/women" role="button" data-bs-toggle="dropdown"
                           data-bs-trigger="hover" data-bs-auto-close="outside" aria-expanded="false">
                            زنانه
                        </a>
                        <ul class="dropdown-menu" style="--cz-dropdown-spacer: 1rem">
                            <li>
                                <a class="dropdown-item"
                                   href="shop-categories-electronics.html">
                                    کفش چرم زنانه
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="account-orders.html">
                                    صندل و کفش تابستانی زنانه
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="account-wishlist.html">
                                    کفش کلاسیک زنانه
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="account-payment.html">
                                    کفش راحتی زنانه
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="account-reviews.html">
                                    بوت و نیم بوت زنانه
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown me-lg-n1 me-xl-0">
                        <a class="nav-link dropdown-toggle fs-sm" href="/products/men" role="button" data-bs-toggle="dropdown"
                           data-bs-trigger="hover" data-bs-auto-close="outside" aria-expanded="false">
                            مردانه
                        </a>
                        <ul class="dropdown-menu" style="--cz-dropdown-spacer: 1rem">
                            <li>
                                <a class="dropdown-item"
                                   href="shop-categories-electronics.html">
                                    کفش چرم مردانه
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="account-orders.html">
                                    صندل و کفش تابستانی مردانه
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="account-wishlist.html">
                                    کفش کلاسیک مردانه
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="account-payment.html">
                                    کفش راحتی مردانه
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="account-reviews.html">
                                    بوت و نیم بوت مردانه
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown me-lg-n1 me-xl-0">
                        <a class="nav-link dropdown-toggle fs-sm" href="/products/kids" role="button" data-bs-toggle="dropdown"
                           data-bs-trigger="hover" data-bs-auto-close="outside" aria-expanded="false">
                            بچگانه
                        </a>
                        <ul class="dropdown-menu" style="--cz-dropdown-spacer: 1rem">
                            <li>
                                <a class="dropdown-item"
                                   href="shop-categories-electronics.html">
                                    کفش چرم بچگانه
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="account-orders.html">
                                    صندل و کفش تابستانی بچگانه
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="account-wishlist.html">
                                    کفش کلاسیک بچگانه
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="account-payment.html">
                                    کفش راحتی بچگانه
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item me-lg-n2 me-xl-0">
                        <a class="nav-link fs-sm" href="/about">
                            درباره ما
                        </a>
                    </li>
                    <li class="nav-item me-lg-n2 me-xl-0">
                        <a class="nav-link fs-sm" href="/contact">
                            تماس با ما
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Button group -->
        <div class="d-flex gap-sm-1 position-relative z-1">

            <!-- Theme switcher (light/dark/auto) -->
            <div class="dropdown">
                <button type="button"
                        class="theme-switcher btn btn-icon btn-outline-secondary fs-lg border-0 rounded-circle animate-scale"
                        data-bs-toggle="dropdown" data-bs-display="dynamic" aria-expanded="false"
                        aria-label="Toggle theme (light)">
					<span class="theme-icon-active d-flex animate-target">
						<i class="ci-sun"></i>
					</span>
                </button>
                <ul class="dropdown-menu start-50 translate-middle-x"
                    style="--cz-dropdown-min-width: 9rem; --cz-dropdown-spacer: 1rem">
                    <li>
                        <button type="button" class="dropdown-item active" data-bs-theme-value="light"
                                aria-pressed="true">
							<span class="theme-icon d-flex fs-base me-2">
								<i class="ci-sun"></i>
							</span>
                            <span class="theme-label">Light</span>
                            <i class="item-active-indicator ci-check ms-auto"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item" data-bs-theme-value="dark" aria-pressed="false">
							<span class="theme-icon d-flex fs-base me-2">
								<i class="ci-moon"></i>
							</span>
                            <span class="theme-label">Dark</span>
                            <i class="item-active-indicator ci-check ms-auto"></i>
                        </button>
                    </li>
                    <li>
                        <button type="button" class="dropdown-item" data-bs-theme-value="auto" aria-pressed="false">
							<span class="theme-icon d-flex fs-base me-2">
								<i class="ci-auto"></i>
							</span>
                            <span class="theme-label">Auto</span>
                            <i class="item-active-indicator ci-check ms-auto"></i>
                        </button>
                    </li>
                </ul>
            </div>

            <!-- Cart button -->
            <a href="{% url 'cart' %}"
                    class="btn btn-icon fs-lg btn-outline-secondary border-0 rounded-circle animate-scale me-2">
                <i class="ci-shopping-cart animate-target"></i>
            </a>

            <!-- Search -->
            <div class="dropdown">
                <button type="button" class="btn btn-icon fs-lg btn-secondary rounded-circle animate-scale"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-label="Toggle search bar">
                    <i class="ci-search animate-target"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-end p-3"
                     style="--cz-dropdown-min-width: 20rem; --cz-dropdown-spacer: 1rem">
                    <form class="position-relative">
                        <input type="search" class="form-control rounded-pill" placeholder="جستجو ..."
                               data-autofocus="dropdown">
                        <button type="submit"
                                class="btn btn-icon btn-sm fs-lg btn-secondary rounded-circle position-absolute top-0 end-0 mt-1 me-1"
                                aria-label="Search">
                            <i class="ci-arrow-right"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
