<!-- Product details tabs -->
<section class="container pt-5 my-2 my-sm-3 my-lg-4 my-xl-5">

    <!-- Nav tabs -->
    <ul class="nav nav-underline flex-nowrap border-bottom" role="tablist">
        <li class="nav-item me-md-1" role="presentation">
            <button type="button" class="nav-link active" id="description-tab" data-bs-toggle="tab"
                    data-bs-target="#description-tab-pane" role="tab" aria-controls="description-tab-pane"
                    aria-selected="true">
                معرفی
            </button>
        </li>
        <li class="nav-item me-md-1" role="presentation">
            <button type="button" class="nav-link" id="washing-tab" data-bs-toggle="tab"
                    data-bs-target="#washing-tab-pane" role="tab" aria-controls="washing-tab-pane"
                    aria-selected="false">
                مشخصات
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button type="button" class="nav-link" id="reviews-tab" data-bs-toggle="tab"
                    data-bs-target="#reviews-tab-pane" role="tab" aria-controls="reviews-tab-pane"
                    aria-selected="false">
                دیدگاه‌ها
            </button>
        </li>
    </ul>

    <div class="tab-content pt-4 mt-sm-1 mt-md-3">

        <!-- Description tab -->
        <div class="tab-pane fade show active" id="description-tab-pane" role="tabpanel"
             aria-labelledby="description-tab">
            <div class="row">
                <div class="col-lg-6 fs-sm">
                    {{ shoe.details }}
                </div>
                <div class="col-lg-6 col-xl-5 offset-xl-1">
                    <div class="row row-cols-2 g-4 my-0 my-lg-n2">
                        <div class="col">
                            <div class="py-md-1 py-lg-2 pe-sm-2">
                                <i class="ci-feather fs-3 text-body-emphasis mb-2 mb-md-3"></i>
                                <h6 class="fs-sm mb-2">Lightweight</h6>
                                <p class="fs-sm mb-0">Designed with lightweight European fabrics, perfect for life on
                                    the go.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="py-md-1 py-lg-2 ps-sm-2">
                                <i class="ci-hanger fs-3 text-body-emphasis mb-2 mb-md-3"></i>
                                <h6 class="fs-sm mb-2">Perfect fit</h6>
                                <p class="fs-sm mb-0">Our clothing is designed to fit any body type, find your perfect
                                    look!</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="py-md-1 py-lg-2 pe-sm-2">
                                <i class="ci-delivery-2 fs-3 text-body-emphasis mb-2 mb-md-3"></i>
                                <h6 class="fs-sm mb-2">Free delivery</h6>
                                <p class="fs-sm mb-0">Get free door-to-door delivery for all orders over $250.</p>
                            </div>
                        </div>
                        <div class="col">
                            <div class="py-md-1 py-lg-2 ps-sm-2">
                                <i class="ci-leaf fs-3 text-body-emphasis mb-2 mb-md-3"></i>
                                <h6 class="fs-sm mb-2">Sustainability</h6>
                                <p class="fs-sm mb-0">We are proud to offer a Lifetime Guarantee on all products.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Washing instructions tab -->
        <div class="tab-pane fade fs-sm" id="washing-tab-pane" role="tabpanel" aria-labelledby="washing-tab">
            <p>Following below washing instructions can help prolong the life of your denim skirt and keep it looking
                its best for longer.</p>
            <div class="row row-cols-1 row-cols-md-2">
                <div class="col mb-3 mb-md-0">
                    <dl class="pe-lg-2 pe-xl-3 mb-0">
                        <dt>Machine wash cold</dt>
                        <dd>Turn the denim midi skirt inside out before placing it in the washing machine. Use cold
                            water to help preserve the color and fabric integrity.
                        </dd>
                        <dt>Gentle cycle</dt>
                        <dd>Select the gentle or delicate cycle on your washing machine to prevent excessive agitation,
                            which can cause unnecessary wear and tear on the denim.
                        </dd>
                        <dt>Mild detergent</dt>
                        <dd>Use a mild detergent specifically formulated for denim or delicate fabrics. Avoid using
                            bleach or harsh chemicals, as they can damage the denim fibers.
                        </dd>
                        <dt>Avoid overloading</dt>
                        <dd class="mb-0">Do not overcrowd the washing machine with too many garments. This can lead to
                            inadequate cleaning and may cause friction that damages the denim skirt.
                        </dd>
                    </dl>
                </div>
                <div class="col">
                    <dl class="ps-lg-2 ps-xl-3 mb-0">
                        <dt>Wash separately</dt>
                        <dd>Wash the denim midi skirt separately from items with zippers, buttons, or other sharp
                            accessories that could snag or damage the fabric.
                        </dd>
                        <dt>Skip fabric softener</dt>
                        <dd>Avoid using fabric softener, as it can leave a residue on the denim and reduce its natural
                            stiffness, which is characteristic of denim garments.
                        </dd>
                        <dt>Air dry or tumble dry low</dt>
                        <dd>After washing, reshape the skirt and either lay it flat to air dry or tumble dry on a low
                            heat setting. Avoid high heat, as it can shrink or distort the denim.
                        </dd>
                        <dt>Ironing</dt>
                        <dd class="mb-0">If necessary, iron the denim midi skirt inside out using a low to medium heat
                            setting. Avoid ironing directly on any embellishments or pockets to prevent damage.
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <!-- Reviews tab -->
        <div class="tab-pane fade" id="reviews-tab-pane" role="tabpanel" aria-labelledby="reviews-tab">

            <!-- Heading + Add review button -->
            <div class="d-sm-flex align-items-center justify-content-between border-bottom pb-2 pb-sm-3">
                <div class="mb-3 me-sm-3">
                    <h2 class="h5 pb-2 mb-1">Customer reviews</h2>
                    <div class="d-flex align-items-center text-body-secondary fs-sm">
                        <div class="d-flex gap-1 me-2">
                            <i class="ci-star-filled text-warning"></i>
                            <i class="ci-star-filled text-warning"></i>
                            <i class="ci-star-filled text-warning"></i>
                            <i class="ci-star-filled text-warning"></i>
                            <i class="ci-star text-body-tertiary opacity-75"></i>
                        </div>
                        Based on 23 reviews
                    </div>
                </div>
                <button type="button" class="btn btn-outline-dark mb-3" data-bs-toggle="modal"
                        data-bs-target="#reviewForm">Leave a review
                </button>
            </div>

            {% for comment in shoe.comments.all %}
                <!-- Review -->
                <div class="border-bottom py-4">
                    <div class="row py-sm-2">
                        <div class="col-md-4 col-lg-3 mb-3 mb-md-0">
                            <div class="d-flex h6 mb-2">
                                {{ comment.user.username }}
                                <i class="ci-check-circle text-success mt-1 ms-2" data-bs-toggle="tooltip"
                                   data-bs-custom-class="tooltip-sm" title="Verified customer"></i>
                            </div>
                            <div class="fs-sm mb-2 mb-md-3">{{ comment.created_at|date:"Y-m-d H:i" }}</div>
                            <div class="d-flex gap-1 fs-sm">
                                <i class="ci-star-filled text-warning"></i>
                                <i class="ci-star-filled text-warning"></i>
                                <i class="ci-star-filled text-warning"></i>
                                <i class="ci-star-filled text-warning"></i>
                                <i class="ci-star-filled text-warning"></i>
                            </div>
                        </div>
                        <div class="col-md-8 col-lg-9">
                            <p class="mb-md-4">
                                {{ comment.text }}
                            </p>
                            <div class="d-sm-flex justify-content-between">
                                <div class="d-flex align-items-center fs-sm fw-medium text-dark-emphasis pb-2 pb-sm-0 mb-1 mb-sm-0">
                                    <i class="ci-check fs-base me-1" style="margin-top: .125rem"></i>
                                    Yes, I recommend this product
                                </div>
                                <div class="d-flex align-items-center gap-2">
                                    <div class="fs-sm fw-medium text-dark-emphasis me-1">Helpful?</div>
                                    <button type="button" class="btn btn-sm btn-secondary">
                                        <i class="ci-thumbs-up fs-sm ms-n1 me-1"></i>
                                        0
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                  
            {% empty %}
                <p>
                    می‌توانید در مورد این کالا نظر دهید.
                </p>
            {% endfor %}

            <!-- Pagination -->
            <nav class="mt-3 pt-2 pt-md-3" aria-label="Reviews pagination">
                <ul class="pagination">
                    <li class="page-item active" aria-current="page">
                  <span class="page-link">
                    1
                    <span class="visually-hidden">(current)</span>
                  </span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#!">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#!">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#!">4</a>
                    </li>
                    <li class="page-item">
                        <span class="page-link pe-none">...</span>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#!">6</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</section>

