{% load static %}

<!-- Hero slider -->
<section class="bg-body-tertiary min-vh-100 d-flex align-items-center overflow-hidden"
         style="margin-top: -110px; padding-top: 110px">
    <div class="container h-100 py-5 my-md-2 my-lg-3 my-xl-4 mb-xxl-5">
        <h1 class="display-6 text-center mx-auto mb-4">
             کفشی که برای یک استایل شیک لازم داری
        </h1>
        <div class="row align-items-center justify-content-center gx-3 gx-sm-4 mb-3 mb-sm-4">

            <!-- Prev slide preview (controlled slider) -->
            <div class="col-lg-1 col-xl-2 d-none d-lg-flex justify-content-end">
                <div class="position-relative user-select-none" style="width: 262px">
						<span
                                class="position-absolute top-0 start-0 w-100 h-100 bg-white opacity-50 rounded-circle d-none-dark"></span>
                    <span
                            class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-circle d-none-dark d-none d-block-dark"
                            style="opacity: .05"></span>
                    <div class="swiper position-relative z-2 opacity-60 rounded-circle pe-none" id="thumbsPrev"
                         data-swiper="{
                  &quot;allowTouchMove&quot;: false,
                  &quot;loop&quot;: true,
                  &quot;effect&quot;: &quot;coverflow&quot;,
                  &quot;coverflowEffect&quot;: {
                    &quot;rotate&quot;: 0,
                    &quot;scale&quot;: 1.3,
                    &quot;depth&quot;: -200,
                    &quot;stretch&quot;: -100,
                    &quot;slideShadows&quot;: false
                  }
                }">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="ratio ratio-1x1">
                                    <img src="{% static 'img/home/furniture/hero-slider/th04.png' %}"
                                         alt="Thumbnail">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ratio ratio-1x1">
                                    <img src="{% static 'img/home/furniture/hero-slider/th01.png' %}"
                                         alt="Thumbnail">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ratio ratio-1x1">
                                    <img src="{% static 'img/home/furniture/hero-slider/th02.png' %}"
                                         alt="Thumbnail">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ratio ratio-1x1">
                                    <img src="{% static 'img/home/furniture/hero-slider/th03.png' %}"
                                         alt="Thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Prev button -->
            <div class="col-auto col-sm-1 order-1 order-lg-2 d-flex align-items-center justify-content-center">
                <button type="button"
                        class="btn-prev btn btn-lg btn-icon btn-outline-secondary rounded-circle animate-slide-start"
                        aria-label="Prev">
                    <i class="ci-chevron-left fs-xl animate-target"></i>
                </button>
            </div>

            <!-- Main slider -->
            <div class="col-sm-10 col-lg-8 col-xl-6 order-3">
                <div class="swiper user-select-none rounded-pill" data-swiper="{
                &quot;loop&quot;: true,
                &quot;grabCursor&quot;: true,
                &quot;speed&quot;: 600,
                &quot;controlSlider&quot;: [&quot;#thumbsPrev&quot;, &quot;#thumbsNext&quot;, &quot;#captions&quot;],
                &quot;effect&quot;: &quot;coverflow&quot;,
                &quot;coverflowEffect&quot;: {
                  &quot;rotate&quot;: 0,
                  &quot;scale&quot;: 1.3,
                  &quot;depth&quot;: -200,
                  &quot;stretch&quot;: -100,
                  &quot;slideShadows&quot;: false
                },
                &quot;navigation&quot;: {
                  &quot;prevEl&quot;: &quot;.btn-prev&quot;,
                  &quot;nextEl&quot;: &quot;.btn-next&quot;
                }
              }">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" data-swiper-binded="#description1">
                            <div class="ratio" style="--cz-aspect-ratio: calc(400 / 636 * 100%)">
                                <img src="{% static 'img/home/furniture/hero-slider/01.png' %}" alt="Image">
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-binded="#description2">
                            <div class="ratio" style="--cz-aspect-ratio: calc(400 / 636 * 100%)">
                                <img src="{% static 'img/home/furniture/hero-slider/02.png' %}" alt="Image">
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-binded="#description3">
                            <div class="ratio" style="--cz-aspect-ratio: calc(400 / 636 * 100%)">
                                <img src="{% static 'img/home/furniture/hero-slider/03.png' %}" alt="Image">
                            </div>
                        </div>
                        <div class="swiper-slide" data-swiper-binded="#description4">
                            <div class="ratio" style="--cz-aspect-ratio: calc(400 / 636 * 100%)">
                                <img src="{% static 'img/home/furniture/hero-slider/04.png' %}" alt="Image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Next button -->
            <div
                    class="col-auto col-sm-1 order-2 order-sm-3 order-lg-4 d-flex align-items-center justify-content-center">
                <button type="button"
                        class="btn-next btn btn-lg btn-icon btn-outline-secondary rounded-circle animate-slide-end"
                        aria-label="Next">
                    <i class="ci-chevron-right fs-xl animate-target"></i>
                </button>
            </div>

            <!-- Next slide preview (controlled slider) -->
            <div class="col-lg-1 col-xl-2 order-lg-5 d-none d-lg-block">
                <div class="position-relative user-select-none" style="width: 262px">
						<span
                                class="position-absolute top-0 start-0 w-100 h-100 bg-white opacity-50 rounded-circle d-none-dark"></span>
                    <span
                            class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-circle d-none-dark d-none d-block-dark"
                            style="opacity: .05"></span>
                    <div class="swiper position-relative z-2 opacity-60 rounded-circle pe-none" id="thumbsNext"
                         data-swiper="{
                  &quot;allowTouchMove&quot;: false,
                  &quot;loop&quot;: true,
                  &quot;effect&quot;: &quot;coverflow&quot;,
                  &quot;coverflowEffect&quot;: {
                    &quot;rotate&quot;: 0,
                    &quot;scale&quot;: 1.3,
                    &quot;depth&quot;: -200,
                    &quot;stretch&quot;: -100,
                    &quot;slideShadows&quot;: false
                  }
                }">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="ratio ratio-1x1">
                                    <img src="{% static 'img/home/furniture/hero-slider/th02.png' %}"
                                         alt="Thumbnail">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ratio ratio-1x1">
                                    <img src="{% static 'img/home/furniture/hero-slider/th03.png' %}"
                                         alt="Thumbnail">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ratio ratio-1x1">
                                    <img src="{% static 'img/home/furniture/hero-slider/th04.png' %}"
                                         alt="Thumbnail">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="ratio ratio-1x1">
                                    <img src="{% static 'img/home/furniture/hero-slider/th01.png' %}"
                                         alt="Thumbnail">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Linked captions (controlled slider) -->
        <div class="swiper" id="captions" data-swiper="{
            &quot;allowTouchMove&quot;: false,
            &quot;loop&quot;: true,
            &quot;effect&quot;: &quot;fade&quot;
          }">
            <div class="swiper-wrapper">
                <div class="swiper-slide bg-body-tertiary text-center">
                    <h3 class="text-secondary-emphasis fs-base fw-normal mb-2">Navy blue low sofa for relaxation
                    </h3>
                    <p class="h4 mb-4">$1,250.00</p>
                    <a class="btn btn-lg btn-dark rounded-pill" href="shop-product-furniture.html">
                        Shop now
                        <i class="ci-chevron-right fs-lg ms-2 me-n2"></i>
                    </a>
                </div>
                <div class="swiper-slide bg-body-tertiary text-center">
                    <h3 class="text-secondary-emphasis fs-base fw-normal mb-2">Armchair with wooden legs 70x120
                        cm</h3>
                    <p class="h4 mb-4">$269.99</p>
                    <a class="btn btn-lg btn-dark rounded-pill" href="shop-product-furniture.html">
                        Shop now
                        <i class="ci-chevron-right fs-lg ms-2 me-n2"></i>
                    </a>
                </div>
                <div class="swiper-slide bg-body-tertiary text-center">
                    <h3 class="text-secondary-emphasis fs-base fw-normal mb-2">Bed frame light gray 140x200 cm
                    </h3>
                    <p class="h4 mb-4">$760.00</p>
                    <a class="btn btn-lg btn-dark rounded-pill" href="shop-product-furniture.html">
                        Shop now
                        <i class="ci-chevron-right fs-lg ms-2 me-n2"></i>
                    </a>
                </div>
                <div class="swiper-slide bg-body-tertiary text-center">
                    <h3 class="text-secondary-emphasis fs-base fw-normal mb-2">Blue armchair with iron legs</h3>
                    <p class="h4 mb-4">$220.00</p>
                    <a class="btn btn-lg btn-dark rounded-pill" href="shop-product-furniture.html">
                        Shop now
                        <i class="ci-chevron-right fs-lg ms-2 me-n2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

