<!-- Topbar -->
<div class="container position-relative d-flex justify-content-between z-1 py-3">
	<div class="nav">
		<span class="text-secondary-emphasis fs-sm me-1">
            با ما در تماس باشید
        </span>
		<a class="nav-link animate-target fs-sm fw-semibold p-0 animate-underline" href="tel:+989158084820">
            ۰۹۱۵۸۰۸۴۸۲۰
        </a>
        -
        <a class="nav-link animate-target fs-sm fw-semibold p-0 animate-underline" href="tel:+989384162200">
            ۰۹۳۸۴۱۶۲۲۰۰
        </a>
	</div>
	<a class="text-secondary-emphasis fs-sm text-decoration-none d-none d-md-inline" href="#!">
        🔥 بزرگترین فروش با ۵۰٪ تخفیف
    </a>
	<ul class="nav gap-4">
		<li class="animate-underline">
			<a class="nav-link animate-target fs-sm p-0" href="/user/wishlist">
                لیست علاقه مندی ها
            </a>
		</li>
		<li class="animate-underline">
			<a class="nav-link animate-target fs-sm p-0" href="/user/account">
                حساب کاربری
            </a>
		</li>
	</ul>
</div>
