{% extends "base_headless.html" %}

{% load static %}
{% block title %}
    ورود به حساب کاربری
{% endblock %}


{% block content %}

    <!-- Page content -->
    <main class="content-wrapper w-100 px-3 mx-auto d-flex justify-content-center" style="max-width: 1920px;">
        <div class="d-flex flex-column min-vh-100 w-100 py-4" style="max-width: 416px;">

            <!-- Login form + Footer -->
            <div class="d-flex flex-column min-vh-100 w-100 py-4 mx-auto me-lg-5" style="max-width: 416px">

                <!-- Logo -->
                <header class="navbar px-0 pb-4 mt-n2 mt-sm-0 mb-2 mb-md-3 mb-lg-4">
                    <a href="index.html" class="navbar-brand pt-0">
                        <span class="d-flex flex-shrink-0 text-primary me-2">
                            <img style="height: 36px" src="{% static 'svg/namayesh_logo_v3.svg' %}"/>
                        </span>
                    </a>
                </header>

                <h3>
                    ورود به کفش نمایش
                </h3>
                <div class="nav fs-sm mb-4">
                    حساب کاربری ندارید؟
                    <a class="nav-link text-decoration-underline p-0 ms-2" href="{% url 'signup' %}">
                        ساخت حساب کاربری
                    </a>
                </div>

                <!-- Form -->
                <form method="post" action="{% url 'login' %}" class="needs-validation" novalidate="">
                    {% csrf_token %}

                    <div class="position-relative mb-4">
                        <input type="text" name="username" class="form-control form-control-lg"
                               placeholder="نام کاربری یا ایمیل" required>
                        <div class="invalid-tooltip bg-transparent py-0">لطفاً نام کاربری معتبر وارد کنید!</div>
                    </div>

                    <div class="mb-4">
                        <div class="password-toggle">
                            <input type="password" name="password" class="form-control form-control-lg"
                                   placeholder="رمز عبور" required>
                            <div class="invalid-tooltip bg-transparent py-0">رمز عبور نادرست است!</div>
                            <label class="password-toggle-button fs-lg" aria-label="نمایش/مخفی کردن رمز عبور">
                                <input type="checkbox" class="btn-check">
                            </label>
                        </div>
                    </div>

                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="form-check me-2">
                            <input type="checkbox" class="form-check-input" id="remember-30">
                            <label for="remember-30" class="form-check-label">مرا به مدت ۳۰ روز به خاطر بسپار</label>
                        </div>
                        <div class="nav">
                            <a class="nav-link animate-underline p-0" href="{% url 'password_reset' %}">
                                <span class="animate-target">رمز عبور را فراموش کرده‌اید؟</span>
                            </a>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-lg btn-primary w-100">ورود</button>
                </form>

                <!-- Divider -->
                <div class="d-flex align-items-center my-4">
                    <hr class="w-100 m-0">
                    <hr class="w-100 m-0">
                </div>

                <!-- Social login -->
                <div class="d-flex flex-column flex-sm-row gap-3 pb-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
                        <i class="ci-google ms-1 me-1"></i>
                        ورود با حساب گوگل
                    </button>
                </div>
            </div>
        </div>
    </main>

{% endblock %}