{% extends "master.html" %}
{% load static %}
{% block title %}
    حساب کاربری
{% endblock %}

{% block content %}
    <div class="container my-5">
        <h2>سلام {{ user.username }}</h2>
        <p>ایمیل: {{ user.email }}</p>
        <p>نام: {{ user.first_name }}</p>
        <p>نام خانوادگی: {{ user.last_name }}</p>

        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">خروج</button>
        </form>

    </div>
{% endblock %}