{% extends "base_headless.html" %}

{% load static %}
{% block title %}
    ورود به حساب کاربری
{% endblock %}


{% block content %}

    <!-- Page content -->
    <main class="content-wrapper w-100 px-3 ps-lg-5 pe-lg-4 mx-auto" style="max-width: 1920px">
        <div class="d-lg-flex">

            <!-- Login form + Footer -->
            <div class="d-flex flex-column min-vh-100 w-100 py-4 mx-auto me-lg-5" style="max-width: 416px">

                <!-- Logo -->
                <header class="navbar px-0 pb-4 mt-n2 mt-sm-0 mb-2 mb-md-3 mb-lg-4">
                    <a href="index.html" class="navbar-brand pt-0">
              <span class="d-flex flex-shrink-0 text-primary me-2">
              <img style="height: 36px" src="{% static 'svg/namayesh_logo_v3.svg' %}"/>
              </span>
                    </a>
                </header>

                <h1 class="h2 mt-auto">
                    ثبت نام در کفش نمایش
                </h1>
                <div class="nav fs-sm mb-3 mb-lg-4">
                    من حساب کاربری دارم
                    <a class="nav-link text-decoration-underline p-0 ms-2" href="{% url 'login' %}">
                        ورود
                    </a>
                </div>
                <div class="nav fs-sm mb-4 d-lg-none">
                    <span class="me-2">Uncertain about creating an account?</span>
                    <a class="nav-link text-decoration-underline p-0" href="#benefits" data-bs-toggle="offcanvas"
                       aria-controls="benefits">Explore the Benefits</a>
                </div>

                <!-- Form -->
                <form method="post" novalidate>
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_username">شماره موبایل یا ایمیل</label>
                        <input type="text" name="username" class="form-control" id="id_username" required>
                    </div>

                    <div class="mb-3">
                        <label for="id_password1">گذرواژه</label>
                        <input type="password" name="password1" class="form-control" id="id_password1" required>
                    </div>

                    <div class="mb-3">
                        <label for="id_password2">تکرار گذرواژه</label>
                        <input type="password" name="password2" class="form-control" id="id_password2" required>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">
                        ثبت نام
                    </button>
                </form>

                <!-- Divider -->
                <div class="d-flex align-items-center my-4">
                    <hr class="w-100 m-0">
                </div>

                <!-- Social login -->
                <div class="d-flex flex-column flex-sm-row gap-3 pb-4 mb-3 mb-lg-4">
                    <button type="button" class="btn btn-lg btn-outline-secondary w-100 px-2">
                        <i class="ci-google ms-1 me-1"></i>
                        ورود با حساب گوگل
                    </button>
                </div>

                <!-- Footer -->
                <footer class="mt-auto">
                    <p class="fs-xs mb-0">
                        ورود شما به معنای پذیرش شرایط کفش نمایش و قوانین حریم‌خصوصی است.
                    </p>
                </footer>
            </div>

            <!-- Benefits section that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
            <div class="offcanvas-lg offcanvas-end w-100 py-lg-4 ms-auto" id="benefits" style="max-width: 1034px">
                <div class="offcanvas-header justify-content-end position-relative z-2 p-3">
                    <button type="button"
                            class="btn btn-icon btn-outline-dark text-dark border-dark bg-transparent rounded-circle d-none-dark"
                            data-bs-dismiss="offcanvas" data-bs-target="#benefits" aria-label="بستن">
                        <i class="ci-close fs-lg"></i>
                    </button>
                    <button type="button"
                            class="btn btn-icon btn-outline-dark text-light border-light bg-transparent rounded-circle d-none d-inline-flex-dark"
                            data-bs-dismiss="offcanvas" data-bs-target="#benefits" aria-label="بستن">
                        <i class="ci-close fs-lg"></i>
                    </button>
                </div>
                <div class="position-absolute top-0 start-0 w-100 h-100 d-lg-none">
        <span class="position-absolute top-0 start-0 w-100 h-100 d-none-dark"
              style="background: linear-gradient(-90deg, #accbee 0%, #e7f0fd 100%)"></span>
                    <span class="position-absolute top-0 start-0 w-100 h-100 d-none d-block-dark"
                          style="background: linear-gradient(-90deg, #1b273a 0%, #1f2632 100%)"></span>
                </div>
                <div class="offcanvas-body position-relative z-2 d-lg-flex flex-column align-items-center justify-content-center h-100 pt-2 px-3 p-lg-0">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-none d-lg-block">
            <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none-dark"
                  style="background: linear-gradient(-90deg, #accbee 0%, #e7f0fd 100%)"></span>
                        <span class="position-absolute top-0 start-0 w-100 h-100 rounded-5 d-none d-block-dark"
                              style="background: linear-gradient(-90deg, #1b273a 0%, #1f2632 100%)"></span>
                    </div>
                    <div class="position-relative z-2 w-100 text-center px-md-2 p-lg-5">
                        <h2 class="h4 pb-3">مزایای حساب کاربری در فروشگاه کفش ما</h2>
                        <div class="mx-auto" style="max-width: 790px">
                            <div class="row row-cols-1 row-cols-sm-2 g-3 g-md-4 g-lg-3 g-xl-4">
                                <div class="col">
                                    <div class="card h-100 bg-transparent border-0">
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white bg-opacity-25 border border-white border-opacity-50 rounded-4 d-none-dark"></span>
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark"
                                              style="--cz-bg-opacity: .05"></span>
                                        <div class="card-body position-relative z-2">
                                            <div class="d-inline-flex position-relative text-info p-3">
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                                                <i class="ci-mail position-relative z-2 fs-4 m-1"></i>
                                            </div>
                                            <h3 class="h6 pt-2 my-2">دریافت اعلان برای کفش‌های مورد علاقه</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100 bg-transparent border-0">
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white bg-opacity-25 border border-white border-opacity-50 rounded-4 d-none-dark"></span>
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark"
                                              style="--cz-bg-opacity: .05"></span>
                                        <div class="card-body position-relative z-2">
                                            <div class="d-inline-flex position-relative text-info p-3">
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                                                <i class="ci-settings position-relative z-2 fs-4 m-1"></i>
                                            </div>
                                            <h3 class="h6 pt-2 my-2">مدیریت سفارش‌ها و علاقه‌مندی‌ها</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100 bg-transparent border-0">
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white bg-opacity-25 border border-white border-opacity-50 rounded-4 d-none-dark"></span>
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark"
                                              style="--cz-bg-opacity: .05"></span>
                                        <div class="card-body position-relative z-2">
                                            <div class="d-inline-flex position-relative text-info p-3">
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                                                <i class="ci-gift position-relative z-2 fs-4 m-1"></i>
                                            </div>
                                            <h3 class="h6 pt-2 my-2">کسب امتیاز برای خریدهای آینده</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100 bg-transparent border-0">
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white bg-opacity-25 border border-white border-opacity-50 rounded-4 d-none-dark"></span>
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark"
                                              style="--cz-bg-opacity: .05"></span>
                                        <div class="card-body position-relative z-2">
                                            <div class="d-inline-flex position-relative text-info p-3">
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                                                <i class="ci-percent position-relative z-2 fs-4 m-1"></i>
                                            </div>
                                            <h3 class="h6 pt-2 my-2">دریافت تخفیف‌ها و پیشنهادهای ویژه</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100 bg-transparent border-0">
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white bg-opacity-25 border border-white border-opacity-50 rounded-4 d-none-dark"></span>
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark"
                                              style="--cz-bg-opacity: .05"></span>
                                        <div class="card-body position-relative z-2">
                                            <div class="d-inline-flex position-relative text-info p-3">
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                                                <i class="ci-heart position-relative z-2 fs-4 m-1"></i>
                                            </div>
                                            <h3 class="h6 pt-2 my-2">ساخت چندین لیست علاقه‌مندی</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card h-100 bg-transparent border-0">
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white bg-opacity-25 border border-white border-opacity-50 rounded-4 d-none-dark"></span>
                                        <span class="position-absolute top-0 start-0 w-100 h-100 bg-white border rounded-4 d-none d-block-dark"
                                              style="--cz-bg-opacity: .05"></span>
                                        <div class="card-body position-relative z-2">
                                            <div class="d-inline-flex position-relative text-info p-3">
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-white rounded-pill d-none-dark"></span>
                                                <span class="position-absolute top-0 start-0 w-100 h-100 bg-body-secondary rounded-pill d-none d-block-dark"></span>
                                                <i class="ci-pie-chart position-relative z-2 fs-4 m-1"></i>
                                            </div>
                                            <h3 class="h6 pt-2 my-2">پرداخت اقساطی برای خریدها</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>


{% endblock %}