{% extends "base.html" %}
{% load static %}
{% block title %}
    سفارش‌ها
{% endblock %}

{% block content %}

    <!-- Page content -->
    <main class="content-wrapper">
        <div class="container py-5 mt-n2 mt-sm-0">
            <div class="row pt-md-2 pt-lg-3 pb-sm-2 pb-md-3 pb-lg-4 pb-xl-5">

                {% include "user/sidebar.html" %}

                <!-- Orders content -->
                <div class="col-lg-9">
                    <div class="ps-lg-3 ps-xl-0">

                        <!-- Page title + Sorting selects -->
                        <div class="row align-items-center pb-3 pb-md-4 mb-md-1 mb-lg-2">
                            <div class="col-md-4 col-xl-6 mb-3 mb-md-0">
                                <h1 class="h2 me-3 mb-0">
                                    سفارش‌ها
                                </h1>
                            </div>
                            <div class="col-md-8 col-xl-6">
                                <div class="row row-cols-1 row-cols-sm-2 g-3 g-xxl-4">
                                    <div class="col">
                                        <select class="form-select" data-select="{
                        &quot;placeholderValue&quot;: &quot;انتخاب وضعیت&quot;,
                        &quot;choices&quot;: [
                          {
                            &quot;value&quot;: &quot;&quot;,
                            &quot;label&quot;: &quot;انتخاب وضعیت&quot;,
                            &quot;placeholder&quot;: true
                          },
                          {
                            &quot;value&quot;: &quot;inprogress&quot;,
                            &quot;label&quot;: &quot;<div class=\&quot;d-flex align-items-center text-nowrap\&quot;><span class=\&quot;bg-info rounded-circle p-1 me-2\&quot;></span>در حال انجام</div>&quot;
                          },
                          {
                            &quot;value&quot;: &quot;delivered&quot;,
                            &quot;label&quot;: &quot;<div class=\&quot;d-flex align-items-center text-nowrap\&quot;><span class=\&quot;bg-success rounded-circle p-1 me-2\&quot;></span>تحویل داده شده</div>&quot;
                          },
                          {
                            &quot;value&quot;: &quot;canceled&quot;,
                            &quot;label&quot;: &quot;<div class=\&quot;d-flex align-items-center text-nowrap\&quot;><span class=\&quot;bg-danger rounded-circle p-1 me-2\&quot;></span>لغو شده</div>&quot;
                          },
                          {
                            &quot;value&quot;: &quot;delayed&quot;,
                            &quot;label&quot;: &quot;<div class=\&quot;d-flex align-items-center text-nowrap\&quot;><span class=\&quot;bg-warning rounded-circle p-1 me-2\&quot;></span>تاخیر دارد</div>&quot;
                          }
                        ]
                      }" data-select-template="true" aria-label="فیلتر وضعیت"></select>
                                    </div>
                                    <div class="col">
                                        <select class="form-select" data-select="{&quot;removeItemButton&quot;: false}"
                                                aria-label="مرتب‌سازی بر اساس زمان">
                                            <option value="all-time">کل زمان</option>
                                            <option value="last-year">سال گذشته</option>
                                            <option value="last-3-months">۳ ماه گذشته</option>
                                            <option value="last-30-days">۳۰ روز گذشته</option>
                                            <option value="last-week">هفته گذشته</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Sortable orders table -->
                        <div data-filter-list="{&quot;listClass&quot;: &quot;orders-list&quot;, &quot;sortClass&quot;: &quot;orders-sort&quot;, &quot;valueNames&quot;: [&quot;date&quot;, &quot;total&quot;]}">
                            <table class="table align-middle fs-sm text-nowrap">
                                <thead>
                                <tr>
                                    <th scope="col" class="py-3 ps-0">
                                        <span class="text-body fw-normal">شماره سفارش</span>
                                    </th>
                                    <th scope="col" class="py-3 d-none d-md-table-cell">
                                        <button type="button" class="btn orders-sort fw-normal text-body p-0"
                                                data-sort="date">تاریخ سفارش
                                        </button>
                                    </th>
                                    <th scope="col" class="py-3 d-none d-md-table-cell">
                                        <span class="text-body fw-normal">وضعیت</span>
                                    </th>
                                    <th scope="col" class="py-3 d-none d-md-table-cell">
                                        <button type="button" class="btn orders-sort fw-normal text-body p-0"
                                                data-sort="total">مجموع
                                        </button>
                                    </th>
                                    <th scope="col" class="py-3">&nbsp;</th>
                                </tr>
                                </thead>
                                <tbody class="text-body-emphasis orders-list">

                                {% for order in page_obj %}
                                    <!-- Item -->
                                    <tr>
                                        <td class="fw-medium pt-2 pb-3 py-md-2 ps-0">
                                            <a class="d-inline-block animate-underline text-body-emphasis text-decoration-none py-2"
                                               href="#orderDetails" data-bs-toggle="offcanvas"
                                               aria-controls="orderDetails"
                                               aria-label="نمایش جزئیات سفارش">
                                                <span class="animate-target">
                                                    {{ order.id }}
                                                </span>
                                            </a>
                                            <ul class="list-unstyled fw-normal text-body m-0 d-md-none">
                                                <li>
                                                    {{ order.created_at }}
                                                </li>
                                                <li class="d-flex align-items-center">
                                                    <span class="bg-info rounded-circle p-1 me-2"></span>
                                                    در حال انجام
                                                </li>
                                                <li class="fw-medium text-body-emphasis">
                                                    {{ order.get_total_price }}
                                                </li>
                                            </ul>
                                        </td>
                                        <td class="fw-medium py-3 d-none d-md-table-cell">
                                            {{ order.created_at }}
                                            <span class="date d-none">25-02-06</span>
                                        </td>
                                        <td class="fw-medium py-3 d-none d-md-table-cell">
                        <span class="d-flex align-items-center">
                          <span class="bg-info rounded-circle p-1 me-2"></span>
                          در حال انجام
                        </span>
                                        </td>
                                        <td class="fw-medium py-3 d-none d-md-table-cell">
                                            {{ order.get_total_price }}
                                            <span class="total d-none">210590</span>
                                        </td>
                                        <td class="py-3 pe-0">
                        <span class="d-flex align-items-center justify-content-end position-relative gap-1 gap-sm-2 ms-n2 ms-sm-0">
                          <span><img src="assets/img/shop/electronics/thumbs/20.png" width="64" alt="Thumbnail"></span>
                          <span><img src="assets/img/shop/electronics/thumbs/16.png" width="64" alt="Thumbnail"></span>
                          <span><img src="assets/img/shop/electronics/thumbs/15.png" width="64" alt="Thumbnail"></span>
                          <a class="btn btn-icon btn-ghost btn-secondary stretched-link border-0" href="#orderDetails"
                             data-bs-toggle="offcanvas" aria-controls="orderDetails" aria-label="نمایش جزئیات سفارش">
                            <i class="ci-chevron-right fs-lg"></i>
                          </a>
                        </span>
                                        </td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                            </table>
                        </div>


                        <!-- Pagination -->
                        {% if page_obj.has_other_pages %}
                            <nav class="pt-3 pb-2 pb-sm-0 mt-2 mt-md-3" aria-label="Page navigation">
                                <ul class="pagination justify-content-center">

                                    <!-- Previous -->
                                    {% if page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}"
                                               aria-label="قبلی">&laquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                                    {% endif %}

                                    <!-- Page Numbers -->
                                    {% for page_num in page_obj.paginator.page_range %}
                                        {% if page_num == page_obj.number %}
                                            <li class="page-item active"><span class="page-link">{{ page_num }}</span>
                                            </li>
                                        {% else %}
                                            <li class="page-item"><a class="page-link"
                                                                     href="?page={{ page_num }}">{{ page_num }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    <!-- Next -->
                                    {% if page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ page_obj.next_page_number }}"
                                               aria-label="بعدی">&raquo;</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            </nav>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
